* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.carousel {
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    margin: 20px 0;
}

.carousel img {
    width: 30%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
    min-height: 350px;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto img {
    width: 100%;
    height: 180px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Mantém a proporção e cobre toda a área */
    border-radius: 8px;
}


.produto h2 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.preco {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.controle-quantidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.controle-quantidade button {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.controle-quantidade p {
    font-size: 1.2rem;
    font-weight: bold;
    width: 30px;
    text-align: center;
}

.carrinho {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.carrinho:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
